/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 déc. 2023, 11:44:22
    Author     : hp789
*/

h1 {
    text-align: center;
    
}


form{
    text-align: center;
}

h2{
    text-align: center;
    color : red; 
}